/* box model */
dialog#downloader {
  height: 80%;
}

form[name="downloader-form"] {
  height: 100%;
}

form[name="downloader-form"] input[type="text"] {
  display: block;
  box-sizing: border-box;
  width: 100%;
}

form[name="downloader-form"] section div label {
  width: max-content;
}

form[name="downloader-form"] section input[type="checkbox"] {
  margin: revert;
}

form[name="downloader-form"] section button[type="submit"] {
  width: 50%;
}

fieldset[name="images"] {
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

/* grid */
form[name="downloader-form"] {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  > * { grid-row: 1 / -1; }
  section {
    display: grid;
    grid-template-rows: subgrid;
  }
}

form[name="downloader-form"] section > label:first-of-type {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;

  input[type="text"] { grid-column: 1 / -1; }
}

form[name="downloader-form"] section div {
  display: grid;
  grid-template-rows: 1fr max-content;
  gap: 4px;
}

form[name="downloader-form"] textarea {
  resize: none;
}

form[name="downloader-form"] button[type="submit"] {
  place-self: center;
}

fieldset[name="images"] {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
  grid-auto-rows: max-content;
}

fieldset[name="images"] label {
  display: grid;
  place-items: start;

  input { z-index: 1; }
  input, img {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}
