dialog#downloader {
  border: 1px solid #D9D9D9;
  background-color: #F0F0F0;
}

form[name="downloader-form"] button {
  background-color: revert;
  border: revert;
}

fieldset#imageList {
  padding: 4px;
  border: 1px solid #8F8F9D;
  margin: 0;
  background-color: #FFFFFF;

  label { border: 1px solid #DFE3E6; }
  label:has(input:checked) { border-color: #0060DF; }
  input { margin: 3px; }
}
